.AppModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppModalCard {
  width: 350px;
  min-height: 250px;
  padding-bottom: 10px;
  color: var(--primary-color-1);
  background-color: var(--background-color-3);
  border-radius: var(--radius-1);
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
